<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Facultad de Ejemplo</title>
</head>
<body>
    <!-- Encabezado -->
    <header data-th-fragment="header">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0SnNl0gzgg3khmvOm7tf1rvRcf2x2IgR4gw&s" alt="Logotipo" class="img-fluid" style="max-height: 50px;">
                <div>
                    <h1 class="h3">Facultad de Ingenieria</h1>
                    <p class="m-0">Universidad Nacional de Jujuy</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Barra de Navegación -->
    <nav data-th-fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Facultad</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Carreras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formularioCarrera">Carrera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formularioDocente">Docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formularioAlumno">Alumno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formularioMateria">Materia</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div data-th-fragment="col" class="container mt-4">
        <div class="row">
                    <!-- Contenido Principal -->
            <div data-th-fragment="main" class="col-md-9">
                <main>
                    <section class="mb-5">
                        <h2>Sobre la Facultad</h2>
                        <p>La Universidad Nacional de Jujuy (UNJ o UNJu) es una universidad pública argentina ubicada en San Salvador de Jujuy, provincia de Jujuy. Fundada en 1973, cuenta con cuatro facultades y cinco institutos, donde cursan sus carreras alrededor de 25 000 estudiantes. Hay 40 mil usuarios de alumnos en UNJu Virtual. Su Rector desde 2014 es el Licenciado Rodolfo Tecchi hasta la actualidad.</p>
                    </section>
                    <section>
                        <h2>Noticias Recientes</h2>
                        <ul class="list-group">
                            <li class="list-group-item">Noticia 1</li>
                            <li class="list-group-item">Noticia 2</li>
                            <li class="list-group-item">Noticia 3</li>
                        </ul>
                    </section>
                </main>
            </div>
        
            <!-- Barra Lateral -->
            <div class="col-md-3">
                <aside class="bg-light p-3">
                    <h4>Menú</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a target="_blank" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Académico</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://alumnos.unju.edu.ar/unju/">Siu Guarani</a>
                        </li>
                    </ul>
                </aside>
            </div>
		</div>
    </div>

    <!-- Pie de Página -->
    <footer data-th-fragment="footer" class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>Dirección: Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy</p>
            <p>Teléfono: 0388 422-1580</p>
            <p>Correo Electrónico: contacto@fi.unju.edu.ar</p>
            <div>
                <a target="_blank" href="https://www.facebook.com/fiunju/?locale=es_LA" class="text-white me-2">Facebook</a>
            </div>
            <p class="mt-2">&copy; 2024 Facultad de Ingenieria. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
